<% provide(:title, 'Search Results') %>

<h2 class="page-header text-center">Search Results for <%= @search_term %></h2>

<div class="row search-results-container">
  <% if @users && @users.any? %>
    <div class="col-sm-4">
      <h3>Users</h3>
      <ul class="search-result-list">
        <% @users.each do |user| %>
          <li><%= gravatar_for(user, 50) %> <%= link_to user.name, user %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @equipment && @equipment.any? %>
    <div class="col-sm-4">
      <h3>Equipment</h3>
      <ul class="search-result-list">
        <% @equipment.each do |item| %>
          <li><%= link_to item.name, item %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @reservations && @reservations.any? %>
    <div class="col-sm-4">
      <h3>Reservations</h3>
      <ul class="search-result-list">
        <% @reservations.each do |reservation| %>
          <li><%= link_to reservation.project, reservation %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
