<% provide(:title, 'Admin Dashboard') %>

<h1 class="page-header">Admin Dashboard</h1>

<div class="row">
	<div class="col-sm-6">
		<%= render 'shared/user_reservation_list', reservations: @reservations_pending, 
			title: 'Reservations Needing Approval', empty_text: 'There are no reservations that need approval', should_show_buttons: true %>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Manage Permissions</h3>
			</div>
			<ul class="list-group">
				<% @permissions.each do |permission| %>
				<li class="list-group-item">
					<%= link_to permission do %> <%= permission.name %> <% end %>
                    <%= link_to permission, class: 'btn btn-large pull-right', method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>
					<%= link_to edit_equipment_path(permission), class: 'btn btn-large pull-right' do %>
                        <i class="fa fa-pencil"></i>
                    <% end %>
				</li>
				<% end %>
				<li class="list-group-item">
					<%= link_to new_permission_path, class: 'btn btn-large btn-primary' do %>
						<i class="fa fa-plus"></i> New Permission
					<% end %>
				</li>
			</ul>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Manage Users</h2>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<%= link_to users_path, class: 'btn btn-large btn-primary' do %>
						<i class="fa fa-users"></i> View Users
					<% end %>
				</li>
				<li class="list-group-item">
					<%= link_to new_user_path, class: 'btn btn-large btn-primary' do %>
						<i class="fa fa-plus"></i> New User
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>