<!-- ng-candidate: Have all equipment and sub-item forms in the same angular app -->
<div class="row">
  <%= form_for(@equipment) do |f| %>
    <div class="col-sm-6 col-sm-offset-1">

        <%= render 'shared/error_messages', object: f.object %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :brand %>
          <%= f.text_field :brand, class: 'form-control' %>
        </div>
      
        <div class="field">
          <%= f.label :quantity %>
          <%= f.number_field :quantity, min: 1, step: 1, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :condition %>
          <%= f.text_field :condition, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        
        <%= f.submit "Submit", class: 'btn btn-large btn-primary' %>
        
    </div>
    <div class="col-sm-4">
      <h4>Permissions</h4>
      <ul class="permissions-list">
        <%= f.collection_check_boxes :permission_ids, Permission.all, :id, :name do |ff| %>
        <li><%= ff.check_box %> <%= ff.label %></li>
        <% end %>
      </ul>

      <div id="kit_info">
        <div class="form-divider"></div>
        
        <h4> <i class="fa fa-suitcase"></i> Recording kit</h4>
          <%= f.check_box :is_kit %> <span>This item has several items that need to be checked out together.</span>
      </div>
    </div>
  <% end %>
</div>
