<% provide(:title, 'Equipment') %>
<h1>Listing equipment</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Quantity</th>
      <th>Condition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.brand %></td>
        <td><%= equipment.quantity %></td>
        <td><%= equipment.condition %></td>
        <td><%= link_to 'Show', equipment %></td>
        <% if current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
          <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
