<% provide(:title, @equipment.name) %>

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-5">
		<div class="info">
			<h1><%= @equipment.brand %> <%= @equipment.name %></h1>

			<h4>Condition</h4>
			<p><%= @equipment.condition %></p>

			<h4>Description</h4>
			<p><%= @equipment.description %></p>


			<!-- TODO: Add permission information once that's been implemented -->
			
			<% if current_user.is_admin? %>
				<%= link_to edit_equipment_path(@equipment), class: 'btn btn-large btn-primary' do %>
					<i class="fa fa-edit"></i> Edit
				<% end %>
				<%= link_to @equipment, method: :delete, class: 'btn btn-large btn-danger', data: { confirm: 'Are you sure?' } do %>
					<i class="fa fa-trash-o"></i> Delete
				<% end %> 
			<% end %>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="related-reservations">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Recent Reservations</h3>
				</div>
				<% if @equipment.reservations.any? %>
				<ul class="list-group">
					<% @equipment.reservations.each do |reservation| %>
						<li class="list-group-item">
							<%= render 'shared/user_reservation', reservation: reservation %>
						</li>
					<% end %>
				</ul>
				<% else %>
				<div class="panel-body">
					<em>This equipment has not been reserved</em>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
