<% if @user == current_user %> 
	<% provide(:title, 'Settings') %> 
<% else %> 
	<% provide(:title, @user.name) %>
<% end %>
<p id="notice"><%= notice %></p>

<!-- ng-candidate -->
<div class="row">
	<div class="col-sm-3 col-sm-offset-2">
		<div class="profile-pic">
			<%= gravatar_for(@user, 200) %>
			<p><em>Tip: If you don't like your monster picture, go to <a href="http://gravatar.com">gravatar.com</a> and add a different picture to an account with the same email address.</em></p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="user-info">
			<div class="row">
				<div class="profile-info">
				<h1>
					<% if @user == current_user %> 
						Settings
					<% else %> 
						<%= @user.name %>
					<% end %>
				</h1>
					<%= form_for(@user) do |f| %>
						<%= f.label :name %>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<%= f.text_field :name, class: "form-control" %>
						</div>

						<%= f.label :email %>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<%= f.text_field :email, class: "form-control" %>
						</div>

						<% if current_user.is_admin? && @user != current_user %>
							<h3>Permissions</h3>

							<ul class="permissions-list">
								<li><%= f.check_box :is_admin %> <%= f.label :is_admin, 'Administrator access' %></li>
							</ul>
						<% end %>
					
						<%= f.submit "Submit" , class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
