<ol class="breadcrumb">
  <li><%= link_to 'Admin', admin_path %></li>
  <li class="active">Users</li>
</ol>

<h1 class="page-header">Users</h1>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <ul class="nav nav-pills user-type-tabs">
      <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'All', users_path %></li>
      <li class="<%= 'active' if params[:action] == 'monitors' %>"><%= link_to 'Monitors', monitors_users_path %></li>
      <li class="<%= 'active' if params[:action] == 'admins' %>"><%= link_to 'Admins', admins_users_path %></li>
    </ul>
    <table id="all_users" class="table table-striped">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <div class="profile-pic"><%= gravatar_for(user, 50) %></div>
              <div class="profile-info">
                <%= link_to user do %>
                    <h4><%= user.name %>
                      <% if user.is_admin? %> <i class="fa fa-rocket" title='Administrator access'></i><% end %>
                      <% if user.is_monitor? && !user.is_admin? %> <i class="fa fa-key" title='Lab Monitor access'></i><% end %>
                    </h4>
                <% end %>

                <h5>
                  <a href="mailto:<%= user.email %>"><%= user.email %></a>
                </h5>
              </div>
            </td>
            <td>
              <%= link_to edit_user_path(user), class: 'btn btn-large' do %>
                  <i class="fa fa-pencil"></i> Edit
              <% end %>
              <%= link_to user, class: 'btn btn-large', method: :delete, data: { confirm: 'Are you sure?' } do %>     <i class="fa fa-trash-o"></i> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_user_path, class: 'btn btn-large btn-primary' do %>
      <i class="fa fa-plus"></i> New User
    <% end %>
  </div>
</div>

<br>


