<% provide(:title, 'Reset Password') %>

<% if @user != current_user %>
<ol class="breadcrumb">
	<li><%= link_to 'Admin', admin_path %></li>
	<li><%= link_to 'Users', users_path %></li>
	<li><%= link_to @user.name, @user %></li>
	<li class="active">Edit Password</li>
</ol>
<% end %>

<div class="top-padding"></div>

<div class="row">
	<div class="col-sm-3 col-sm-offset-2">
		<div class="profile-pic">
			<%= gravatar_for(@user, 200) %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="user-info">
			<div class="row">
				<div class="profile-info">
				<h1>Reset Password</h1>
					<%= form_for(@user) do |f| %>
						<%= render 'shared/error_messages', object: f.object %>
						<%= f.label :password %>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<%= f.password_field :password, class: "form-control" %>
						</div>

						<%= f.label :password_confirmation %>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<%= f.password_field :password_confirmation, class: "form-control" %>
						</div>
					
						<%= f.submit "Reset" , class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
