<% if @user == current_user %> 
	<% provide(:title, 'Profile') %> 
<% else %> 
	<% provide(:title, @user.name) %>
<% end %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-5">
		<div class="info">
			<div class="row">
				<div class="profile-pic">
					<%= gravatar_for(@user, 120) %>
				</div>
				<div class="profile-info">
					<h2><%= @user.name %> 
						<% if @user.is_admin? %> <i class="fa fa-rocket" title='Administrator access'></i><% end %>
						<!-- TODO: Add icon for monitor access if not admin -->
					</h2>
					
					<h4>
					  <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
					</h4>
				</div>
			</div>

			<!-- TODO: Add permission information once that's been implemented -->
			
			<%= link_to edit_user_path(@user), class: 'btn btn-large btn-primary' do %>
				<i class="fa fa-edit"></i> Edit
			<% end %>
			<% if current_user.is_admin? && current_user != @user %>
				<%= link_to @user, method: :delete, class: 'btn btn-large btn-danger', data: { confirm: 'Are you sure?' } do %>
					<i class="fa fa-trash-o"></i> Delete
				<% end %> 
			<% end %>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="related-reservations">
			<%= render 'shared/icon_reservation_list', reservations: @user.reservations, title: 'Reservations' %> 
		</div>
	</div>
</div>
