<div class="reservation-icon">
	<%= gravatar_for(reservation.user, size=70) %>
</div>
<div class="reservation-info">
	<span class="reservation-header"><%= link_to reservation.user.name, reservation.user %></span><br/>
	<span class="reservation-subheader"><%= link_to reservation.project, reservation %></span><br>
	<span class="reservation-subheader status_text_<%= reservation.id %>"><%= status_text(reservation).html_safe %></span><br>
	<span class="reservation-time"><%= reservation.out_time.strftime(ReservationsHelper::SHORT_DATETIME_FORMAT) %> to <%= reservation.in_time.strftime(ReservationsHelper::SHORT_DATETIME_FORMAT) %></span><br>
</div>