<div class="reservation-icon">
	<%= gravatar_for(reservation.user, size=70) %>
</div>
<div class="reservation-info">
	<span class="reservation-header"><%= link_to reservation.user.name, reservation.user %></span><br/>
	<span class="reservation-subheader"><%= link_to reservation.project, reservation %></span><br>
	<span class="reservation-subheader status_text_<%= reservation.id %>"><%= status_text(reservation).html_safe %></span><br>
	<span class="reservation-time"><%= reservation.out_time.strftime(ReservationsHelper::SHORT_DATETIME_FORMAT) %> to <%= reservation.in_time.strftime(ReservationsHelper::SHORT_DATETIME_FORMAT) %></span><br>
	<% if show_approve_deny_buttons && current_user.is_admin? && reservation.requested? %>
		<%= link_to approve_reservation_path(reservation), class: 'btn btn-large btn-success', id:"approve_button_#{reservation.id}" do %>
          <i class="fa fa-check"></i> Approve
        <% end %>
        <%= link_to deny_reservation_path(reservation), class: 'btn btn-large btn-danger', id: "deny_button_#{reservation.id}" do %>
          <i class="fa fa-times"></i> Deny
        <% end %>
        <script type="text/javascript">
        //<![CDATA[
        $('#approve_button_<%= reservation.id %>').click(function (event) {
        	event.preventDefault();
        	$.ajax({
        		url: "<%= approve_reservation_path(reservation, format: :json) %>",
        		data: {id: '<%= reservation.id %>'},
        		type: 'GET',
        		dataType: 'json',
        		success: function (response) {
        			$('.status_text_<%= reservation.id %>').html('<span class=\"status-text-approved\"><i class=\"fa fa-thumbs-o-up\"></i> Approved</span>');
        			$('#approve_button_<%= reservation.id %>').hide();
        			$('#deny_button_<%= reservation.id %>').hide();
        		},
        		error: function (error) {
        			alert('Something went horribly wrong!');
        		}
        	});
        });

        $('#deny_button_<%= reservation.id %>').click(function (event) {
        	event.preventDefault();
        	$.ajax({
        		url: "<%= deny_reservation_path(reservation, format: :json) %>",
        		data: {id: '<%= reservation.id %>'},
        		type: 'GET',
        		dataType: 'json',
        		success: function (response) {
        			$('.status_text_<%= reservation.id %>').html("<span class='status-text-denied'><i class='fa fa-thumbs-o-down'></i> Denied</span>");
        			$('#approve_button_<%= reservation.id %>').hide();
        			$('#deny_button_<%= reservation.id %>').hide();
        		},
        		error: function (error) {
        			alert('Something went horribly wrong!');
        		}
        	});
        });

        $('#deny_button').click(function (event) {
        	event.preventDefault();
        	alert('Deny button clicked');
        })
        //]]>
        </script>
	<% end %>
</div>