<div class="top-padding"></div>

<div class="row">
	<div class="col-sm-7">
		<div class="checklist-container">
			<h3>Equipment</h3>
			<h5>Please check that all the equipment is here to continue.</h5>
			
			<table class="table table-striped table-bordered">
				<% @reservation.reservation_equipment.each do |item| %>
					<tr>
						<td>
							<input type="checkbox" class="check">
							<span class="checklist-label"><%= item.equipment.name %> <% if item.quantity > 1 %>(x<%= item.quantity %>)<% end %></span>
						</td>
					</tr>
				<% end %>
			</table>

			<%= form_for @reservation, url: checkout_update_reservation_path(@reservation), method: :post do |f| %>
				<% if @reservation.errors.any? %>
			      <div id="error_explanation">
			        <h2><%= pluralize(@reservation.errors.count, 'error') %> prohibited this reservation from being saved:</h2>
			  
			        <ul>
			        <% @reservation.errors.full_messages.each do |message| %>
			          <li><%= message %></li>
			        <% end %>
			        </ul>
			      </div>
			    <% end %>

			    <div class="field" id="check_out_comments_field">
			      <%= f.label :check_out_comments %><br>
			      <%= f.text_area :check_out_comments, class: 'form-control' %>
			    </div>

			    <div class="actions">
			      <%= f.submit 'Check Out', class: 'btn btn-large btn-primary', id: 'checkout_button', disabled: true %>
			    </div>
			<% end %>
		</div>
	</div>
	<div class="col-sm-5">
		<%= render 'checkout_side_info' %>
	</div>
</div>