<h1 class="page-header">Your reservations</h1>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project</th>
          <th>Out time</th>
          <th>In time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><strong><%= link_to reservation.project, reservation %></strong></td>
            <td><%= reservation.out_time.strftime('%a, %b %d, %Y, %I:%M %p') %></td>
            <td><%= reservation.in_time.strftime('%a, %b %d, %Y, %I:%M %p') %></td>
            <td><%= status_text(reservation).html_safe %></td>
            <td>
              <%= link_to edit_reservation_path(reservation), class: 'btn btn-large' do %>
                <i class="fa fa-pencil"></i> Edit
              <% end %>
              <%= link_to reservation, class: 'btn btn-large', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash-o"></i> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_reservation_path, class: 'btn btn-large btn-primary' do %>
      <i class="fa fa-plus"></i> New Reservation
    <% end %>
  </div>
</div>

<br>

