<% provide(:title, @reservation.project) %>

<div class="row">
  <div class="col-sm-7">
    <div class="reservation-details">
      <div class="reservation-icon">
        <h2><i class="fa fa-calendar fa-2x"></i></h2>
      </div>
      <div class="reservation-header-info">
        <h2><%= @reservation.project %></h2>
        
        <h4><%= @user.name %></h4>
      </div>

      <p><strong>Reserved from:</strong> <%= @reservation.out_time.strftime('%A, %B %Y, %I:%M %p') %> <br><strong>to:</strong> <%= @reservation.in_time.strftime('%A, %B %Y, %I:%M %p') %></p>

      <h4><strong>Status: </strong><%= status_text(@reservation).html_safe %></h4>

      <h4>Equipment</h4>

      <ul>
        <% @reservation.reservation_equipment.each do |item| %>
          <li><%= item.equipment.name %> (Quantity: <%= item.quantity %>)</li>
        <% end %>
      </ul>
  
      <!-- TODO: Check permission for this -->
      <%= link_to edit_reservation_path(@reservation), class: 'btn btn-large btn-primary' do %>
        <i class="fa fa-pencil"></i> Edit
      <% end %>

    </div>
  </div>
</div>
