<%= form_for([@kit, @sub_item]) do |f| %>
  <% if @sub_item.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.check_box :is_optional %>
    <%= f.label :is_optional %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
