<h1>Listing sub_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Kit</th>
      <th>Description</th>
      <th>Is optional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_items.each do |sub_item| %>
      <tr>
        <td><%= sub_item.name %></td>
        <td><%= sub_item.brand %></td>
        <td><%= sub_item.kit %></td>
        <td><%= sub_item.description %></td>
        <td><%= sub_item.is_optional %></td>
        <td><%= link_to 'Show', sub_item %></td>
        <td><%= link_to 'Edit', edit_sub_item_path(sub_item) %></td>
        <td><%= link_to 'Destroy', sub_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub item', new_sub_item_path %>
