<% provide(:title, 'Categories') %>

<ol class="breadcrumb">
  <li><%= link_to 'Equipment', equipment_index_path %></li>
  <li class="active">Categories</li>
</ol>

<h1 class="page-header">Categories</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="button-container">
      <%= link_to new_category_path, class: 'btn btn-large btn-primary' do %>
        <i class="fa fa-plus"></i> New Category
      <% end %>
    </div>

    <table class="table table-striped">
      <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <h4><%= category.name %></h4>
            <h5><%= category.description %></h5>
          </td>
          <td>
            <%= link_to edit_category_path(category), class: 'btn btn-large' do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>
              <%= link_to category, class: 'btn btn-large', method: :delete, data: { confirm: 'Are you sure?' } do %>     <i class="fa fa-trash-o"></i> Delete
            <% end %>
          </td>
      </tr>
    <% end %>
      </tbody>
    </table>

  </div>
</div>



<br>

<%= link_to 'New Category', new_category_path %>
